/********* SCHEME OF COLORS **********
sky-blue: #0A6A90;
light-blue: #64AFC7;
melon-yellow: #EDB70C;
antique-pink: #D28573;
oxide-red: #7A362B;

*/

/********* TYPOGRAPHY **********
font-family: playfair display; (headings)
font-family: sans 3; (text)
*/

:root {
    --color-primary: #0B2545;
    --color-accent: #F4B400;
    --color-secondary: #006CB3;
    --color-text: #0B2545;
    --background: #fff;

    --heading-font: "Playfair Display", Georgia, serif;
    --text-font: "Source Sans 3", sans-serif;
}

* {
    background-color: var(--background);
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--text-font);
}

/*********** HEADER ************/
header {
    display: grid;
    grid-template-columns: 120px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1.5px var(--color-primary);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}