@media only screen and (min-width: 38rem) {
     
    header, main, nav{
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 120px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid var(--color-primary);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .hero {
        aspect-ratio: 21 / 9;
    }

    .hero-title {
        font-size: 1.6rem;
    }

    .cta-btn {
        font-size: 1.25rem;
        padding: 1rem 2rem;
    }

    #spotlights {
    grid-template-columns: 1fr 1fr 1fr;
    }

    .weather-panel {
        grid-template-columns: 1fr 2fr;
    }

    #cards.list .card-info  {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    }

    .footer-content {
        max-width: 900px;
        margin: 0 auto;
    }
}