:root {
    --color-primary: #0B2545;
    --color-accent: #F4B400;
    --color-secondary: #006CB3;
    --color-text: #0B2545;
    --background: #dfd5c1;
    --color-text-footer: #fff;
    --color-card: #e3cb89;
    --color-current: #e3cb89;

    --color-text-current: #fff;
    --color-text-completed-card: #fff;
    --color-text-h2: #fff;

    --btn-hover: #ad9248;

    --heading-font: "Playfair Display", Georgia, serif;
    --text-font: "Source Sans 3", sans-serif;

    --space: 1rem;
}

* {
    box-sizing: border-box;    
}

body {    
    color: var(--color-text);
    background-color: var(--background);
    font-family: var(--text-font);
}

/* ======= HEADER =======*/
header 
{
    display: grid;
    grid-template-columns: 100px auto 44px;
    padding: 5px var(--space);
    align-items: center;
    border-bottom: solid 1px var(--color-primary);
    column-gap: 8px;
}

header img
{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span 
{
    font-size: 1.2rem;
    color: var(--color-primary);
}

/* ======= MAIN =======*/
main {
    padding: 5px var(--space);
    align-items: start;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    color: var(--color-primary);
    background-color: var(--color-accent);
    border-color: var(--color-primary);
    border-width: 1.5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hover);
}

.btn-container {
    display: flex;
    gap: 12px;
}

.all-btn {
    flex: 1;
    border-radius: 5px;
}

.cse-btn {
    flex: 1;
    border-radius: 5px;
}

.wdd-btn {
    flex: 1;
    border-radius: 5px;
    padding: 5px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: .5rem;
}

.card {
    background-color: var(--color-card);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

.card.completed {
    background-color: var(--color-primary);
    padding: 5px;
    text-align: center;
    color: var(--color-text-completed-card);
    border-radius: 5px;
    border: 1px solid var(--color-text-completed-card);
}

.check {
    color: var(--color-text-completed-card);
    opacity: .8;
}

#total-credits {
    text-align: center;
}

section h2 {
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-text-h2);
    padding: 5px;
    border-radius: 5px;
}

/* ======= HAMBURGER =======*/
.hamburger {
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* ======= NAVIGATION =======*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--color-text);
    text-decoration: none;
    border-bottom: 1.5px solid var(--color-primary);
}

.navigation li.current {
    background-color: var(--color-primary);
}

.navigation li.current a {
    color: var(--color-text-current);
}

.navigation li.current a:hover {
    color: var(--color-text);
}

.navigation a:hover {
    background-color: var(--color-accent);
}

h1 {
    margin-left: 10px;
}


/* ====== FOOTER ======== */
footer {
    background-color: var(--color-primary);
    color: var(--color-text-footer);
    padding: 1.5rem var(--space);
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;

}

.social a:hover {
    background-color: var(--color-secondary);
}

#lastModified {
    color: var(--color-accent);
}